n8n-template/March-16-2026/Backup-n8n.json
  {
    "updatedAt": "2026-03-12T03:00:07.000Z",
    "createdAt": "2026-03-12T02:09:29.207Z",
    "id": "EFqRs21MbFrwRNK3",
    "name": "Backup-n8n",
    "active": false,
    "isArchived": true,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 2
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -624,
          -32
        ],
        "id": "701f2489-70af-42b6-ac25-39b6a7d6d48b",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://n8n.gtgcomputer.my.id/api/v1/workflows",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1ZjNlMTZiZC0zYmQzLTQzYTEtOWJmYi00MGZlYmU2M2UwNDgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiZWZhOTI0YmUtMGUxOC00ZjkyLTllYWUtMDM3MWJhMDYzNTNjIiwiaWF0IjoxNzczMjgxMzMxfQ.wzkF4TFlwB4AHfl8W5KWLBUjsYRoOZyorTG8pqPvdEs"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -304,
          -32
        ],
        "id": "9b035e29-e652-4481-89e0-2cf34191ad62",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "content": "## API N8N\n\neyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1ZjNlMTZiZC0zYmQzLTQzYTEtOWJmYi00MGZlYmU2M2UwNDgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiZWZhOTI0YmUtMGUxOC00ZjkyLTllYWUtMDM3MWJhMDYzNTNjIiwiaWF0IjoxNzczMjgxMzMxfQ.wzkF4TFlwB4AHfl8W5KWLBUjsYRoOZyorTG8pqPvdEs",
          "height": 224,
          "width": 368
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -416,
          -544
        ],
        "typeVersion": 1,
        "id": "7cdd70c2-fc69-48a7-848e-9e86391239c3",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          64,
          -32
        ],
        "id": "4a90d4d2-4e7c-4ae8-ba80-8e07f1b5a648",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "name": "Replace Me",
        "typeVersion": 1,
        "position": [
          336,
          -16
        ],
        "id": "f4915e1f-1e91-4b83-8b3b-415e1b42659c",
        "placeholder": true
      },
      {
        "parameters": {
          "url": "=https://n8n.gtgcomputer.my.id/api/v1/workflows/{{$json[\"id\"]}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1ZjNlMTZiZC0zYmQzLTQzYTEtOWJmYi00MGZlYmU2M2UwNDgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiZWZhOTI0YmUtMGUxOC00ZjkyLTllYWUtMDM3MWJhMDYzNTNjIiwiaWF0IjoxNzczMjgxMzMxfQ.wzkF4TFlwB4AHfl8W5KWLBUjsYRoOZyorTG8pqPvdEs"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          336,
          -176
        ],
        "id": "0a6d51af-2444-4f52-bdf2-3cc5c25b725c",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "content": "## Client ID\n\n227286216874-5icrkcuhlutcr2kce4dustg4238962cb.apps.googleusercontent.com"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -80,
          -528
        ],
        "typeVersion": 1,
        "id": "e930ddd5-96b9-4bfb-963b-e45b05b97e2f",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Secreat id\n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"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          176,
          -528
        ],
        "typeVersion": 1,
        "id": "bd308989-b4af-4eed-a2da-1d418b606f6e",
        "name": "Sticky Note2"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Replace Me",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replace Me": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "07e54dcf-4d3e-4b05-b138-02d782194bf3",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-12T02:09:29.209Z",
        "createdAt": "2026-03-12T02:09:29.209Z",
        "role": "workflow:owner",
        "workflowId": "EFqRs21MbFrwRNK3",
        "projectId": "59P8vIeQ1X2EvJj1"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
